@tailwind components;
@tailwind utilities;

htm,
body {
	color: #1b1a1a;
	background: #f5ebe0;
}
main {
	background: #f5ebe0;
	height: 100vh;
	height: 100dvh;
}
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
